@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#root {
  --btn-color: #8860d0;
  --hover-color: #573792;
  --accent-color: #c3a2ff;
  --light-gray-bg: #f9f9f9;
  --gray-border: #e5e5e5;
  --brad-input: 3px;
  --pad-input: 10px;
  --transition: all 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

h1 {
  margin: 2rem;
  font-size: 2rem;
  color: #fff;
}

h4 {
  margin-bottom: 1rem;
}

.app-main {
  height: 100vh;
  /* background: #69b6d4; */
  background: #121d49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #444;
}

/* --------------------------------TopNav--------------------------- */

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-top: solid 6px var(--btn-color);
}

.btn-container {
  display: flex;
  margin: 2rem;
}

.main-btn {
  background: var(--btn-color);
  padding: 10px;
  width: 8rem;
  margin-right: 1rem;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.main-btn:hover {
  background: var(--hover-color);
  transition: var(--transition);
}

/* ----------------------------------------LOGIN-------------------------------------- */

.login {
  margin: auto;
}

.form-window {
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
}

.form-window h3 {
  color: #555;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--accent-color);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  padding: 0.5rem;
  min-width: 250px;
  background-color: rgb(243, 243, 243);
  border: none;
  margin-top: 1rem;
  border-radius: var(--brad-input);
}

form span {
  color: crimson;
}

.login-btn {
  padding: 0.6rem;
  margin-top: 1rem;
  background: var(--btn-color);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  border-radius: var(--brad-input);
}

.login-btn:hover {
  background: var(--hover-color);
  transition: var(--transition);
}

.success-msg {
  background-color: #00d98b;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #555;
  font-weight: bolder;
}

/* -----------------------------------SIGN UP--------------------------------- */

.sign-up {
  margin: auto;
}

.sign-up-container {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 3px 3px 7px 2px rgba(119, 119, 119, 0.3);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-form input {
  margin-bottom: 1rem;
  width: 100%;
  line-height: 1.4;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: var(--brad-input);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.sign-up-bday-gender {
  display: flex;
  flex-direction: column;
}

.sign-up-birthday {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-birthday input {
  max-width: 4rem;
  margin-right: 1rem;
}
/* 
.sign-up-form input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.sign-up-payment-box {
  width: 100%;
}

.sign-up-payment-box label {
  align-items: center;
  text-align: center;
  width: 50%;
  margin-bottom: 1rem;
}

.sign-up-gender label,
.sign-up-payment label {
  display: inline-block;
  background-color: var(--light-gray-bg);
  border-radius: var(--brad-input);
  border: solid 1px var(--gray-border);
  padding: 10px 20px;
  cursor: pointer;
}

.sign-up-gender input[type="radio"]:checked + label,
.sign-up-payment input[type="radio"]:checked + label {
  background-color: var(--accent-color);
  color: #fff;
} */

.sign-up-payment-box.select {
  display: inline-flex;
  align-items: center;
}

.sign-up-payment select {
  padding: var(--pad-input);
  background: var(--light-gray-bg);
  border: solid 1px var(--gray-border);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.sign-up-btn {
  border: var(--gray-border);
  background: var(--btn-color);
  color: #fff;
  padding: var(--pad-input);
  border-radius: var(--brad-input);
  margin-right: 1rem;
  font-size: 1.2rem;
  width: 80px;
}
